
.menu ul {
   background-color: rgb(123,104,238);
   margin: -10px;
   padding: 20px;
   
}
.menu li a{
   text-decoration: none;
   font-weight: bold;
}
.menu li{
   display: inline;
   padding: 0 1em 0 0;
}
.menu li a{
   text-decoration: none;
   color: black;
   font-weight: bold;
}
body{
   background-color: rgb(106, 90, 205);
   font-family: Arial, Helvetica, sans-serif; 
   box-sizing: border-box;
}
h1{
   text-align: center;
   font-size: x-large;
}
#img {
   width: 300px;
   height: 300px;
   border: 0px;
}
.sobre{
   display: flex;
}
#button{
   background-color: rgb(247, 247, 255);
    color: rgb(0, 0, 0);
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
    
}
#btn{
   background-color: rgb(247, 247, 255);
    color: rgb(0, 0, 0);
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}