body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.menu ul{
    background-color: rgba(0, 110, 255, 0.459);
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 50%;
    max-width: 200px;
    border-radius: 1000%;
}
.button{
    background-color: rgba(0, 110, 255, 0.459);
    color: rgb(255, 255, 255);
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}

.button{
}
