@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.menu ul{
    background-color: #CCC;
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 100%;
    max-width: 600px;
}

.button{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}

#imagem-perfil-diogo{
    border: 6px inset rgb(194, 194, 194);
    width: 100%;
    max-width: 600px;
}

.githubdi:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.githubdi {
    color: black;
    text-decoration: none;
    width: 50px;
    height: 20px;
    border-radius: 6px;
    background-color: rgb(191, 191, 191);
    padding: 1em;
    margin: 1em;
}

#descricaodi{
    text-align: center;
    background-color: rgb(165, 165, 165);
    width: 100%;
    height: 100%;
    border-radius: 1em;
    text-align: center;
    padding: 10px;
}

.pdi{
    font-family: 'Poppins', sans-serif;
}

.diogomoreirax #containerdi{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.diogomoreirax #containerdi div{
    margin: 1em;
}

.diogomoreirax #containerdi #containerfotodi{
    width: 800px;
    height: 500px;
}

@media (min-width:900px){
    .diogomoreirax #containerdi{
        flex-direction: row;
    }
    .diogomoreirax #containerdi div{
        margin: 1em;
    }
}


@media(max-width: 480px) {

    .diogomoreirax #containerdi div{
        margin: 1em;
    }

    #footerdi{
        background-color: rgb(191, 191, 191);
        width: 85%;
    }

    .pdi{
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
    }

    .githubdi:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1em;
    }
    
    .githubdi {
        color: black;
        text-decoration: none;
        font-size: 12px;
        width: 40px;
        height: 15px;
        border-radius: 6px;
        background-color: rgb(191, 191, 191);
        padding: 1em;
        margin: 1em;
        display: inline-block;
    }
}

.row{
    width: 100%;
}
.bio{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.oleoz1n .sizebutton {
    width: 10rem;
    text-align: center;
}

.oleoz1n .alinhamento-centro p {
    text-align: center;
}

.oleoz1n .margin-top-2 {
    margin-top: 2rem;
}

.oleoz1n .font-bold {
    font-weight: bold;
}

.oleoz1n .direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marina-cucco {
    .direction-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
       
    
    .button {
            background-color: pink;
            color: white;
            padding: 1em;
            margin: 1em 0;
            display: inline-block;
            text-decoration: none;
            border-radius: 0.5em;
            width: 380px;
            text-align: center;
    }

    .text-design{
        text-align: justify;
        width: 400px;

    }
    
    .foot {
        font-style: oblique;
        text-align: center;
        .link {
            color:pink;
        }
    }

    #imagem-perfil{
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
    }

    .menu ul{
        background-color: pink;
        margin: 0;
        padding: 2em;
    }
}

