body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#a7a5a5,  #ffffff, #a7a5a5);
}
.menu ul{
    background-color: #CCC;
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 100%;
    max-width: 200px;
}
.button{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}

footer {
    background-color: #CCC;
}

h2 {
    font-size: 30px;
}