body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.menu ul{
    background-color: #CCC;
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 100%;
    max-width: 600px;
}
.button{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}

.row{
    width: 100%;
}
.bio{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.oleoz1n .sizebutton {
    width: 10rem;
    text-align: center;
}

.oleoz1n .alinhamento-centro p {
    text-align: center;
}

.oleoz1n .margin-top-2 {
    margin-top: 2rem;
}

.oleoz1n .font-bold {
    font-weight: bold;
}

.oleoz1n .direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}