body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.menu ul{
    background-color: #CCC;
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 100%;
    max-width: 600px;
}
.button{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
    padding-right: 30px;
}
.all {
    background-color: rgb(106, 90, 205);
   font-family: Arial, Helvetica, sans-serif; 
   box-sizing: border-box;
}
#img{
    width: 300px;
   height: 300px;
   border: 0px;
}
.corpo{
    border: 50px;
    border-radius: 20px;
    padding: 50px;
}
fieldset{
    background-color: #f0f0f0;
    display: flex;
    border-radius: 50px;
}
legend{
    text-align: center;
    font-size: 30px;
}
#contato{
   text-align: right;
}
