body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.menu{
    background-color: blanchedalmond;
}
.menu ul{
    list-style: circle;
    margin: 0;
    padding: 9;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #000000;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.menu li a:hover{
    background-color: #e3a865;
}
h1, section{
    text-align: center;
}
section img{
    width: 30%;
    height: 30%;
    border-style: dotted;
    border-color: #e3a865;
}
.button{
    display: inline-flexbox;
    background-color: #e3a865;
    color: rgb(0, 0, 0);
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}
section div{
    border-style: dotted;
    border-color: #e3a865;
}