@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.menu ul{
    background: rgb(43,28,19);
    background: linear-gradient(267deg, rgba(43,28,19,1) 0%, rgba(94,52,21,1) 28%, rgba(103,77,41,1) 49%, rgba(173,130,80,1) 74%, rgba(190,141,85,1) 100%);
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}

.meu_pa{
    text-align: justify;
    font-size: 18px;
}

#imagem-perfil{
    width: 210px;
    height: 200px;
    float: left;
    padding: 15px;
    
}
.button{
    background-color: #ad8250;
    color: white;
    padding: 1em;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.5em;
    width: 1150px;
}