@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap);

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.menu ul{
    background-color: #CCC;
    margin: 0;
    padding: 2em;
}
.menu li{
    display: inline;
    padding: 0 1em 0 0;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header, section, footer{
    padding: 0 2em;
}
#imagem-perfil{
    width: 100%;
    max-width: 600px;
}
.button{
    background-color: rgb(146, 37, 37);
    color: white;
    padding: 1em;
    margin: 1em 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5em;
}

h1{
    text-align: center;
    padding-left: 10px;
    font-family: 'Raleway';
}

h2{
    background-color: #white;
    font-size: small    ;
    padding-left: 10px;
    font-family: 'Raleway';
}

.video-container {
    text-align: center;
}

footer{
    background-color: black;
    text-align: left;
    padding: 10px;
}

.link-footer{
  
        font-weight: bold;
    
}    