@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #4F4F4F 0, #4F4F4F 50%, white 50%);
    min-height: 100vh;
}

.name {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    margin-top: 7%;
    margin-left: 12%;
    margin-bottom: 2%;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    background-color: white;
    min-height: 400px;
    width: 800px;
    border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 50px;
}

.card img {
    height: 75%;
    width: 85%;
    margin-top: 9%;
    border-radius: 8px;
    margin-left: 20px;
}

.text {
    font-family: "Ubuntu", sans-serif;
    margin-top: 5%;
    width: 300px;
}

.links li {
    padding: 10px;
}

.links {
    color: #000000;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.links_app {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}